{% extends "__base__.html" %}
{% block title %}{% endblock title %}
{% block content %}
<div class="dashboard-content border-dashed p-3 m-4 view-height">
<form method="post" name="add_rec_form">
    {% csrf_token %}

    <div class="dashboard-content border-dashed p-3 m-4 view-height">

        <div class="mt-4 ml-4 mr-4">
            <div class="row border-bottom border-3">
                <div class="col"><h3 class="color-header text-uppercase">Nowy
                    przepis</h3></div>
                <div class="col d-flex justify-content-end mb-2">
                    <button type="submit"
                            class="btn btn-color rounded-0 pt-0 pb-0 pr-4 pl-4">
                        Zapisz
                    </button>
                </div>
            </div>

        <table class="table borderless">
            <tbody>
            <tr class="d-flex">
                <th scope="row" class="col-2">Nazwa Przepisu</th>
                <td class="col-7">
                    <input class="w-100 p-1" name="recipe_name" value="{{ recipe.name }}" required>
                </td>
            </tr>
            <tr class="d-flex">
                <th scope="row" class="col-2">Opis przepisu</th>
                <td class="col-7">
                    <textarea class="w-100 p-1" rows="5" name="recipe_des" required>{{ recipe.description }}</textarea></td>
            </tr>
            <tr class="d-flex">
                <th scope="row" class="col-2">Przygotowani(minuty)</th>
                <td class="col-3">
                    <input class="p-1" type="number" name="prep_time" value="{{ recipe.preparation_time }}" required>
                </td>
            </tr>
            </tbody>
        </table>

            <div class="row d-flex">
                <div class="col-5 border-bottom border-3"><h3
                        class="text-uppercase">Sposób przygotowania</h3></div>
                <div class="col-2"></div>
                <div class="col-5 border-bottom border-3"><h3
                        class="text-uppercase">Składniki</h3></div>
            </div>
            <div class="row d-flex">
                <div class="col-5 p-4">
                    <textarea class="w-100 p-1" rows="10" name="prep_steps"></textarea>
                </div>
                <div class="col-2"></div>

                <div class="col-5 p-4">
                    <textarea class="w-100 p-1" rows="10" name="ingredients">{{ recipe.ingredients }}</textarea>
                </div>
            </div>
        </div>
    </div>
<form>
{% endblock content %}