{% extends "__base__.html" %}
{% block title %}{% endblock %}
{% block content %}
<div class="dashboard-content border-dashed p-3 m-4 view-height">

    <div class="row border-bottom border-3 p-1 m-1">
        <div class="col noPadding"><h3 class="color-header text-uppercase">Lista
            Przepisów</h3></div>
        <div class="col noPadding d-flex justify-content-end mb-2"><a
                href="{% url 'recipe_add' %}"
                class="btn btn-success rounded-0 pt-0 pb-0 pr-4 pl-4">Dodaj
            przepis</a></div>
    </div>
    <table class="table border-bottom schedules-content">
        <thead>
        <tr class="d-flex text-color-darker">
            <th scope="col" class="col-1">ID</th>
            <th scope="col" class="col-2">NAZWA</th>
            <th scope="col" class="col-7">OPIS</th>
            <th scope="col" class="col-2 center">AKCJE</th>
        </tr>
        </thead>
        <tbody class="text-color-lighter">
            {%for recipe in recipes %}
                <tr class="d-flex">
                    <th scope="row" class="col-1">{{forloop.counter}}</th>
                    <td class="col-2">
                        {{recipe.name}} ({{recipe.votes}} głosy)
                    </td>
                    <td clas="col-7">{{recipe.ingredients}}
                    </td>
                    <td class="col-2 d-flex align-items-center justify-content-center flex-wrap">
                        <a href="#"
                        class="btn btn-danger rounded-0 text-light m-1">Usuń</a>
                        <a href="/recipe/{{recipe.id}}"
                        class="btn btn-info rounded-0 text-light m-1">Szczegóły</a>
                        <a href="/app-edit-recipe.html"
                        class="btn btn-warning rounded-0 text-light m-1">Edytuj</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if recipes.has_other_pages %}
        <ul class="pagination">
            {% if recipes.has_previous %}
                <li><a href="?page={{ recipes.previous_page_number }}">&laquo; poprzednia</a>|&nbsp;</li>
            {% endif %}
            {% for i in recipes.paginator.page_range %}
            {% if recipes.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>|&nbsp;</li>
            {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a> |&nbsp;</li>
            {% endif %}
            {% endfor %}
            {% if recipes.has_next %}
                <li><a href="?page={{ recipes.next_page_number }}">następna &raquo;</a></li>
            {% endif %}
        </ul>
    {% endif %}
</div>
{% endblock content %}