{% extends "__base__.html" %}
{% block title %}{% endblock %}
{% block content %}




<div class="dashboard-content border-dashed p-3 m-4 view-height">

    <div class="row border-bottom border-3 p-1 m-1">
        <div class="col noPadding">
            <h3 class="color-header text-uppercase">LISTA PLANÓW</h3>
        </div>
        <div class="col d-flex justify-content-end mb-2 noPadding">
            <a href="{% url 'schedule_add' %}"
               class="btn btn-success rounded-0 pt-0 pb-0 pr-4 pl-4">Dodaj
                plan</a>
        </div>
    </div>

    <div class="schedules-content">
        <table class="table border-bottom">
            <thead>
            <tr class="d-flex">
                <th class="col-1">ID</th>
                <th class="col-2">NAZWA</th>
                <th class="col-7">OPIS</th>
                <th class="col-2 center">AKCJE</th>
            </tr>
            </thead>
            <tbody class="text-color-lighter">
            {% for obj in plans %}

            <tr class="d-flex">
                <td class="col-1">{{ obj.id }}</td>
                <td class="col-2">{{ obj.name }}</td>
                <td class="col-7">
                    {{ obj.description }}
                </td>
                <td class="col-2 d-flex align-items-center justify-content-center flex-wrap">
                    <a href="" class="btn btn-danger rounded-0 text-light m-1">Usuń</a>
                    <a href="{% url 'schedule_detail' obj.id %}"
                       class="btn btn-info rounded-0 text-light m-1">Szczegóły</a>
                    <a href=""
                       class="btn btn-warning rounded-0 text-light m-1">Edytuj</a>
                </td>
            </tr>

            {% endfor %}



            </tbody>
        </table>

 <div class="center">

    <span class="step-links">

        {% if plans.has_previous %}

            <a href="?page={{ plans.previous_page_number }}">< poprzednia</a>
        {% endif %}

        <span class="current">
            {% for obj in test %}
                <a href="?page={{ obj }}">| {{ obj }} |</a>
            {% endfor %}
        </span>

        {% if plans.has_next %}
            <a href="?page={{ plans.next_page_number }}"> nastepna ></a>
        {% endif %}

    </span>

    </div>


    </div>
</div>


{% endblock content %}